.icon__01{
    width: 30.5rem;height: 25rem;
    margin-left: 45px;
    object-fit: cover;
}
.main_{
    display: flex;
    margin-top: 1px;
    flex-direction: column;
}
.pesquisa{
margin-top: 30px;
border: none;
background-color: #96B6C5;
border-bottom: 1px solid;
outline: none;
width: 120px;
}
.h2_{
    margin-top: 30px;
}