.main_{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pesquisa{
margin-top: 30px;
border: none;
background-color: #96B6C5;
border-bottom: 1px solid;
outline: none;
width: 120px;
}
.h2_{
    margin-top: 30px;
}

.icon__01{
    width: 30.5rem;height: 25rem;
    /* margin-left: 45px; */
    object-fit: cover;
}
