
nav{
    border-right:1px solid #3c413e52;
    padding: .4rem;
    background-color:#ADC4CE ;
    height: 100vh;
}

nav div {
    display: flex;
    justify-content: center;
    margin: .5rem;
}
ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
li{
    margin: 1.5rem;
    list-style: none;
}
a{
    margin: .5rem;
    color: #F1F0E8;
    font-size: 1.2rem;
    text-decoration: none;
}