:root {
  --cor-primaria: #96B6C5;
  --cor-secundaria: #ADC4CE;
  --cor-texto-principal: #EEE0C9;
  --cor-texto: #F1F0E8;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--cor-primaria);
  color: var(--cor-texto);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--cor-texto-principal);
}